**Problem Statement: Analysing two data set IPL Ball By Ball of year 2021 and 2022 for the purpose of determining the chances of the team to win **

**Mounting Drive with Colab**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Importing Libraries

**Problem Statement**:
We are playing with some statistical data fromm the IMDB website of multiple datasets.

In [2]:
import pandas as pd                               # For data manipulation and analysis.
import seaborn as sns                             # Provides a high level interface for drawing attractive and informative statistical graphics.
from statistics import mean, median, mode, stdev  # To calculate mathematical statistics of numeric data.
import matplotlib.pyplot as plt                   # Plotting library for Python programming language and it's numerical mathematics extension NumPy.
import numpy as np                                # Implemennts milti-dimensional array and matrices.
import math as m                                  # This module provides access to the mathematical functions.
import plotly.express as px                       # Functions that can create entire figures at once.
%matplotlib inline

In [3]:
import os
path = 'imdb.py'

import imdb as im

In [4]:
imdb=pd.read_csv('imdb_top_1000.csv')

**DataSet**

In [5]:
imdb

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

**Checking the Datatype of the columns**

In [6]:
print(imdb.dtypes)                                                      # DataType of each column.

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

**Understanding the Dataset**

In [7]:
imdb.shape                         #The shape of a DataSet is a tuple of array dimensions that tells the number of rows and columns of a given DataFrame.

(1000, 16)

In [8]:
imdb.columns                      # The columns of a DataSet tells the name of all columns names

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [9]:
imdb.head()                        #This function returns the first n rows for the object based on position top.

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [10]:
imdb.tail()                         #This function returns the first n rows for the object based on position down.

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [11]:
imdb.info()                   #The information contains the number of columns, column labels, column data types, memory usage, range index, and the number of cells in each column (non-null values).

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [12]:
imdb.describe().T          #For numeric data, the result’s index will include count, mean, std, min, max as well as lower, 50 and upper percentiles.The 50 percentile is the same as the median.

,count,mean,std,min,25%,50%,75%,max
IMDB_Rating,1000.0,7.94930,0.275491,7.6,7.70,7.9,8.10,9.3
Meta_score,843.0,77.97153,12.376099,28.0,70.00,79.0,87.00,100.0
No_of_Votes,1000.0,273692.91100,327372.703934,25088.0,55526.25,138548.5,374161.25,2343110.0

**3) Searching for Null, Missing, Unwanted values**

In [13]:
im.find_null_values(imdb)

No of Null Values: Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [14]:
imdb.isna().sum()                 #isna()calculates all the missing values and sum() calculates the sum of elements for each row and column.

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [15]:
imdb.columns.unique()               #Number of unique values in columns of data set

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

**Searching for Duplicate Values**

In [16]:
imdb.duplicated().sum()                   #Duplicate in columns

0

**Total Numbers of matches played by each Team**

**Number of matches Win**

In [17]:
win =imdb.groupby('Series_Title').count()
win['Released_Year']

Series_Title
(500) Days of Summer           1
12 Angry Men                   1
12 Years a Slave               1
1917                           1
2001: A Space Odyssey          1
                              ..
Zootopia                       1
Zulu                           1
Zwartboek                      1
À bout de souffle              1
Ôkami kodomo no Ame to Yuki    1
Name: Released_Year, Length: 999, dtype: int64

In [18]:
im.duration_rating(imdb, Runtime, IMDB_Rating)

NameError: ignored

****

In [ ]:
most_runs = imdb.groupby(['ID'])['total_run'].sum().reset_index()      #Run scored by both teams in a match  according match sequence 
most_runs

In [ ]:
om.runs_scored_ascending(most_runs)            #Runs scored by both teams in ascending order according to runs

**Fuctions for plot**

In [ ]:
def histo(imdb):
  
   fig = px.histogram(imdb, x='total_run')
   fig.show()

def box(imdb):
   fig = px.box(imdb, y='batsman_run')
   fig.show()

def hist(M_D):
   fig = px.histogram(M_D, x='WonBy')
   fig.show()

def countplot(M_D):
  plt.figure(figsize=(20,10))
  sns.countplot(x ='TossWinner', data = M_D)

def barplot(M_D):
  sns.barplot(y ='overs', x ='extras_run' , data = M_D)
   
def relplot(imdb):
  sns.relplot(x ="overs", y ="batsman_run",
  data = imdb);

In [ ]:
histo(imdb)                                            #count of runs (0,1,2,3,4,5,6) scorred on every balls

In [ ]:
box(imdb)

In [ ]:
hist(M_D)

In [ ]:
countplot(M_D)

In [ ]:
barplot(imdb)

In [ ]:
relplot(imdb)

**5) Checking for Outliers using Boxplot**

In [ ]:
for column in imdb[['innings','overs','ballnumber','batsman_run','extras_run','total_run','non_boundary','isWicketDelivery']]:
    plt.title(column)
    sns.boxplot(data=imdb, x=column)
    plt.show()

In [ ]:
for column2 in M_D[['ID','Season','Margin']]:
    plt.title(column2)
    sns.boxplot(data=M_D, x=column2)
    plt.show()

**Team won by hightes Margin**

In [ ]:
M_D.iloc[M_D['Margin'].idxmax()]

In [ ]:
M_D.iloc[M_D['Margin'].idxmin()]

In [ ]:
plt.figure(figsize=(35,20))
sns.countplot(x ='WinningTeam', data= M_D, hue= 'Margin', palette= 'magma')

In [ ]:
sns.pairplot(imdb, palette="twilight", corner=True);

In [ ]:
sns.pairplot(M_D)

In [ ]:
plt.figure(figsize=(20,7))
plt.suptitle('Histograms of WinningTeam ', fontsize = 20)
ax1 = sns.histplot(x = M_D['WinningTeam'],color= 'teal', bins= 15, kde= True, palette= 'crest')
ax1.set(xlabel= 'WinningTeam', ylabel= 'Frequency')
plt.tight_layout()
plt.show()

**7) Heatmap for correlation **

In [ ]:
def scatterprint(*args):
    try: 
        plt.figure(figsize=(6,6))
        sns.scatterplot(data = args[0], x=args[1], y=args[2], hue="liking")
    except Exception as e:
        print("ERROR: ", str(e))
        pass

In [ ]:
plt.figure(figsize = (15,12))
correlation=imdb.corr()
sns.heatmap(correlation, annot=True,fmt='.2', cmap='YlOrRd')

**Most IPL Runs by a Batsman**

In [ ]:
plt.figure(figsize=(10,8))
data = imdb.groupby(['batter'])['batsman_run'].sum().sort_values(ascending=False)[:10]
sns.barplot(y=data.index,x=data,orient='h')
plt.xlabel('Runs')
plt.ylabel('Batsman')
plt.show()

In [ ]:
Toss = M_D['TossWinner'] == M_D['WinningTeam']
Toss.groupby(Toss).size()

In [ ]:
sns.countplot(M_D['TossWinner'] == M_D['WinningTeam'])
sns.countplot(Toss);

In [ ]:
runs = imdb.groupby(['batter','ID'])['batsman_run'].sum()
runs[runs >= 100].droplevel(level=1).groupby('batter').count().sort_values(ascending=False)[:10]

In [ ]:
plt.figure(figsize=(10,8))
runs = imdb.groupby(['batter','ID'])['batsman_run'].sum()
data = runs[runs >= 100].droplevel(level=1).groupby('batter').count().sort_values(ascending=False)[:10]
sns.barplot(y=data.index,x=data,orient='h')
plt.xlabel('Centuries')
plt.ylabel('Batsman')
plt.show()

In [ ]:
imdb.hist(figsize=(10,15))
plt.show()

In [ ]:
sns.scatterplot(x =imdb['batsman_run'], y =imdb['total_run']);
plt.title('BALL_BY_BALL')
plt.show();

**Merging Two Data set**

In [ ]:
result = pd.concat([imdb, M_D], axis=1, join='inner')
display(result)
result.head(2)

In [ ]:
M_D.WonBy.value_counts()

In [ ]:
plt.figure(figsize=(6,6))
sizes = result.WonBy.value_counts()
labels = result.WonBy.value_counts().index
plt.pie(sizes,colors = ['b','g','r'],
         labels=labels,
         autopct='%1.1f%%',
         startangle=90,
         pctdistance=0.75,
         )

#draw white circle
centre_circle = plt.Circle((0,0),0.60,fc='white')
fig = plt.gcf()
fig.gca().add_artist(centre_circle)

**Slicing of data**

In [ ]:
M_D['Player_of_Match'].to_frame().head()

In [ ]:
M_D.Player_of_Match.iloc[0:8]

**Upload data to Numerical Python (NumPy)**

In [ ]:
result1 = M_D.to_numpy()
print(result1)

In [ ]:
result2 = imdb.to_numpy()
print(result2)

**Use conditions and segregate the data based on the condition (like show data of a feature(column) >,<,= a number)**

In [ ]:
display(imdb.loc[(imdb['isWicketDelivery']>=1)])

In [ ]:
imdb.extras_run.value_counts()

In [ ]:
mean(imdb.extras_run)

In [ ]:
M_D.TossDecision.value_counts()

In [ ]:
M_D = M_D.replace({'field': 0, 'bat': 1})
mean(M_D.TossDecision)

**Avg Run by Teams in Powerplay**

In [ ]:
Avg=imdb[imdb['overs']<6].groupby(['ID','BattingTeam']).sum()['total_run'].groupby('BattingTeam').mean().sort_values(ascending=False)[2:]
Avg

In [ ]:
imdb.BattingTeam.value_counts()

In [ ]:
plt.figure(figsize=(6,6))
sizes = imdb.BattingTeam.value_counts()
labels = imdb.BattingTeam.value_counts().index
plt.pie(sizes,colors = ['b','g','r'],
         labels=labels,
         autopct='%1.1f%%',
         startangle=90,
         pctdistance=0.75,
         )

#draw white circle
centre_circle = plt.Circle((0,0),0.60,fc='white')
fig = plt.gcf()
fig.gca().add_artist(centre_circle)